.dashboardHeader {
   &__image {
      width: 100%;
      height: auto;
   }

   &__wrapper {
      position: absolute;
      margin: 35px;
      top: 2rem;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      @include breakpoint("sm") {
         top: 3rem;
         margin: 45px;
      }

      @include breakpoint("lg") {
         top: 4rem;
         margin: 55px;
         margin-right: 80px;
      }

      @include breakpoint("xl") {
         right: 10rem;
         margin: 80px;
         margin-right: 10rem;
      }

      @include breakpoint("xxl") {
         margin-right: 15rem;
      }
   }
}
