.FAQ {
   background-color: $c3-second;
   padding: 1rem 0;

   &__wrapper {
      @include breakpoint("lg") {
         display: flex;
      }
   }

   &__desc {
      margin-top: 0;
   }

   &__catWrapper {
      margin-bottom: 2rem;
   }

   &__catInnerWrapper {
      margin-bottom: 2rem;

      @include breakpoint("lg") {
         position: sticky;
         display: flex;
         top: 80px;
         flex-direction: column;
         margin-bottom: 0;
      }
   }

   &__content {
      &__title {
         margin-top: 0;
         margin-bottom: 0.5rem;
         text-align: left;
      }

      &__text {
         margin: 0;
         margin-bottom: 1.3rem;
         color: $c-lightGrey;

         @include breakpoint("lg") {
            margin-bottom: 2rem;
         }
      }

      &__btn {
         &--disabled {
            display: none !important;
         }
      }
   }

   &__btn {
      margin: 0 0.7rem 0.3rem 0;

      @include breakpoint("lg") {
         background-color: $c3-second;
         align-self: flex-start;
         margin-right: 4.5rem;
      }

      &:focus {
         color: $c-black;
      }
   }

   &__trigger {
      cursor: pointer;
      content: "Show more";
      font-weight: 400 !important;
      background: $horizontal-gradient;
      color: $c-white;
      display: inline-block;
      padding: 6px 20px !important;
      border-radius: 30px !important;
      border: 0 !important;
      text-decoration: none;
      text-align: center;

      @include breakpoint("md") {
         padding: 7px 25px !important;
      }

      &:hover {
         background: linear-gradient(to top, #4dac71, #2e6c48);
      }

      &--collapsed {
         display: none;
      }
   }
}
