.FAQ {
   background-color: $c3-second;
   padding: 1rem 0;

   &__wrapper {
      @include breakpoint("lg") {
         display: flex;
      }
   }

   &__catWrapper {
      margin-bottom: 2rem;

      @include breakpoint("lg") {
         display: flex;
         flex-direction: column;
         margin-bottom: 0;
      }
   }

   &__contentWrapper {
      h4 {
         margin-top: 0;
      }

      &__btn {
         &--disabled {
            display: none !important;
         }
      }
   }

   &__content {
      text-align: left;
      transition: 1s;

      &--noMargin {
         margin: 0;
      }

      &__text {
         &--noMargin {
            margin: 0;
         }
      }
      &__collapsedWrapper {
         overflow: hidden;
         transition: transform 0.3s ease-out; // note that we're transitioning transform, not height!
         height: auto;
         transform-origin:top;
         transform: scaleY(1);
         &--collapsed {
            transform: scaleY(0);
         }
      }
   }

   &__btn {
      margin: 0 0.7rem 0.3rem 0;

      @include breakpoint("lg") {
         background-color: $c3-second;
         align-self: flex-start;
         margin-right: 4.5rem;
      }
   }

   &__selectCat {
      @include breakpoint("lg") {
         margin-top: 0;
      }
   }
}
