.header {

  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/placeholder/landing-page-background.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: $c-black;
  }

  @include breakpoint("md") {
    justify-content: left;
  }

  &__wrapper {
    width: 90%;
    max-width: 900px;
    z-index: 1;

    @include breakpoint("md") {
      margin-left: 4rem;
    }

    @include breakpoint("xxl") {
      margin-left: 6rem;
    }
  }

  &__title {
    color: $c-white;
    text-align: center;

    @include breakpoint("sm") {
      text-align: left;
    }
  }

  &__p {
    margin-bottom: 1.5rem;
    color: $c-white;

    @include breakpoint("sm") {
      margin-bottom: 3.5rem;
    }

    @include breakpoint("lg") {
      margin-bottom: 4rem;
    }
  }

  &__btn {

    &__wrapper {
      display: flex;
      flex-direction: column;

      @include breakpoint("sm") {
        margin: 0 2rem;
        flex-direction: row;
        margin: 0;
      }
    }
  }

  &__secondBtn {
    margin-top: 1rem;
    transition: all 0.3s ease 0s;

    @include breakpoint("sm") {
      margin-top: 0rem;
      margin-left: 2rem;
    }
  }
}
