.header {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.2;
    background-color: $c-black;
  }

  display: block;
  margin: 0 auto;

  &__image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 40% 100%;

    @include breakpoint("sm") {
      width: 768px;
    }
    @include breakpoint("md") {
      width: 992px;
    }
    @include breakpoint("lg") {
      width: 1200px;
    }
    @include breakpoint("xl") {
      width: 1920px;
      height: 930px;
    }
    @include breakpoint("xxl") {
      width: 100%;
    }
  }

  &__wrapper {
    position: absolute;
    margin: 35px;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    @include breakpoint("sm") {
      top: 3rem;
      margin: 45px;
    }
    @include breakpoint("md") {
      top: 4rem;
      right: 10rem;
    }
    @include breakpoint("lg") {
      // margin: 90px;
      // top: 5rem;
    }
    // @include breakpoint("xl") {
    // margin: 5rem 20rem;
    //   margin: 90px;
    //   top: 5rem;
    // }
  }

  &__title {
    color: $c-white;
    @include breakpoint("sm") {
      font-size: 25px;
    }
    @include breakpoint("md") {
      font-size: 30px;
      line-height: 55px;
    }
    @include breakpoint("lg") {
      font-size: 45px;
      line-height: 60px;
    }
    @include breakpoint("xl") {
      font-size: 70px;
      line-height: 90px;
    }
  }

  &__p {
    margin-bottom: 1.5rem;
    color: $c-white;
    font-size: 15px;

    @include breakpoint("sm") {
      font-size: 25px;
      margin-bottom: 3.5rem;
      line-height: 30px;
    }
    @include breakpoint("md") {
      font-size: 30px;
    }
    @include breakpoint("lg") {
      font-size: 30px;
      line-height: 40px;
    }
    @include breakpoint("xl") {
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__btn {
    &__wrapper {
      display: flex;
      flex-direction: column;
      
      @include breakpoint("sm") {
        margin: 0 2rem;
        flex-direction: row;
        margin: 0;
      }
    }
  }

  &__firstBtn {
    margin-bottom: 1rem;

    @include breakpoint("sm") {
      margin-bottom: 0rem;
      margin-right: 2rem;
    }
  }
}
