.imageText {

   &:nth-child(even) {
      margin-bottom: 3.5rem;
   }

   @include breakpoint("xl") {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 2rem;
   }

   &__img {
      width: 100%;

      @include breakpoint("xl") {
         width: 44%;
         max-height: 485px;
      }
   }

   &__text {
      @include breakpoint("xl") {
         margin-top: 0;
         flex: 0 0 50%;
      }
      @media only screen and (max-width: 1199px) {
         margin-left: 0 !important; 
         margin-right: 0 !important; 
     }
   }
}
