.imageText {
   @include breakpoint("xl") {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
   }

   &__img {
      margin-bottom: 2rem;
      width: 100%;

      @include breakpoint("xl") {
         width: 44%;
         max-height: 485px;
      }
   }

   &__text {
      @include breakpoint("xl") {
         margin-top: 0;
         flex: 0 0 53%;
      }
   }
}
