.jointMeeting--closed {
   position: relative;
   border-radius: 45px;
   background-image: linear-gradient(#50b375, #2e6c48);
   color: $c-white;
   max-width: 792px;
   max-height: 363px;
   // animation: fadeOut 1.5s;
   // animation-delay: 1.5s;
   // animation-fill-mode: forwards;

   @include breakpoint("lg") {
      border-radius: 65px;
   }
}

.jointMeeting {
   position: relative;
   border-radius: 45px;
   background-image: linear-gradient(#50b375, #2e6c48);
   color: $c-white;
   max-width: 792px;
   max-height: 363px;

   @include breakpoint("lg") {
      border-radius: 65px;
   }

   &__beforeClickedWrapper {
      height: 100%;
   }

   &__imgWrapper {
      width: 60%;
   }

   &__img {
      border-radius: 45px;
      width: 100%;
      height: 100%;

      @include breakpoint("md") {
         height: unset;
         width: unset;
      }
      @include breakpoint("xl") {
         border-radius: 65px;
      }
   }

   &__contentWrapper {
      position: relative;
      width: 60%;
      padding: 0.5rem;

      @media only screen and (min-width: 380px) {
         padding-top: 1rem;
      }
   }

   &__contentTopWrapper {
      @media only screen and (min-width: 350px) {
         min-height: 95px;
         padding: 0.2rem;
      }

      @media only screen and (min-width: 495px) {
         min-height: 150px;
      }

      @include breakpoint("sm") {
         min-height: 170px;
         padding: 0.6rem;
      }

      @include breakpoint("md") {
         min-height: 260px;
      }
   }

   &__topWrapper,
   &__dataWrapperLocation {
      @media only screen and (min-width: 380px) {
         padding: 10px;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            background-color: $c-white;
            width: 30px;
            height: 1.5px;
            left: -10px;
            top: 50%;
            transform: rotate(90deg);
         }
      }
   }

   &__daysLeft {
      display: none;
      color: inherit;

      @media only screen and (min-width: 495px) {
         display: inline-block;
         margin: 0;
         margin-bottom: 1rem;
      }

      @include breakpoint("md") {
         margin-bottom: 2rem;
      }
   }

   &__topWrapper {
      margin-bottom: 7px;
      @include breakpoint("sm") {
         margin-bottom: 15px;
      }
      @include breakpoint("md") {
         margin-bottom: 25px;
      }
   }

   &__dataWrapperLocation {
      margin-bottom: 7px;
      @include breakpoint("sm") {
         margin-bottom: 15px;
      }
   }

   &__data {
      color: inherit;
      padding: 0;
      margin: 0;
      white-space: nowrap;

      @media only screen and (min-width: 380px) {
         margin-left: 18px;
      }
   }

   &__btnWrapper {
      text-align: center;
   }

   &__btnSpan {
      color: $c4-second;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__btnDesc {
      margin-right: 5px;
   }

   &__cancelSvg {
      width: 15px;
   }

   //// afterClick
   &__afterClickedWrapper {
      padding: 0.5rem;
      padding-bottom: 2rem;
   }

   &__afterTitle {
      text-align: center;
      color: inherit;
   }

   &__afterContentWrapper {
      margin-bottom: 0.8rem;

      @include breakpoint("sm") {
         padding: 1rem;
      }
   }

   &__clickedBtnWrapper {
      &__block {
         @include breakpoint("sm") {
            display: flex;
            justify-content: space-around;
         }
      }
   }
}

.btn-jointMeeting {
   color: $c-lightGrey;
   white-space: nowrap;
   margin-bottom: 0.5rem;
   width: 100%;
   transition: background-color 0.2s ease-in-out;

   @include breakpoint("sm") {
      width: 50%;
      margin: 0.5rem;
   }

   &:hover {
      background-color: $c1-second;
      color: $c-white;
   }

   &:focus {
      background-color: $c1-second;
      color: $c-white;
   }
}

.btn-cancel {
   width: 90%;
   transition: background-color 0.2s ease-in-out;

   &:hover {
      background-color: $c1-second;
      .btn-meeting__arrow::after,
      .btn-meeting__arrow::before {
         background-color: $c-white;
      }
   }

   &--animation {
      transition: all 1s;

      &:focus {
         background-color: $c1-second;
         animation: test2 1.5s;
         animation-delay: 1.5s;
         animation-fill-mode: forwards;
      }

      &:focus .jointMeeting__btnDesc {
         animation: test 1.5s;
         animation-delay: 1.5s;
         animation-fill-mode: forwards;
      }

      &:focus .jointMeeting__btnWrapper {
         margin: 0;
      }
   }
}

@keyframes test {
   0% {
   }
   100% {
      width: 0%;
      visibility: hidden;
   }
}
@keyframes test2 {
   0% {
   }
   100% {
      width: 0%;
   }
}

// .jointMeeting--closed {
//    position: relative;
//    display: flex;
//    margin: 0.5rem;
//    background-color: $c2-second;
//    border-radius: $border-radius;
//    color: $c-white;
//    animation: fadeOut 1.5s;
//    animation-delay: 1.5s;
//    animation-fill-mode: forwards;

//    @include breakpoint("md") {
//       height: 300px;
//    }
//    @include breakpoint("md") {
//       height: 336px;
//    }
// }

// .jointMeeting {
//    position: relative;
//    display: flex;
//    margin: 0.5rem;
//    background-color: $c2-second;
//    border-radius: $border-radius;
//    color: $c-white;

//    @include breakpoint("md") {
//       height: 300px;
//    }
//    @include breakpoint("md") {
//       height: 336px;
//    }

//    &__dayCount {
//       color: inherit;
//       margin: 0.5rem 0 0 1rem;
//       padding: 0;
//    }

//    &__img {
//       width: 45%;
//       border-radius: inherit;
//    }

//    &__innerWrapper {
//       height: 120px;
//       position: relative;

//       @include breakpoint("md") {
//          height: 180px;
//          padding: 1.5rem;
//       }
//       @include breakpoint("lg") {
//          height: 250px;
//          padding: 2.5rem;
//       }
//    }

//    &__contentWrapper {
//       width: 100%;
//       padding: 15px;
//    }

//    &__dataWrapper {
//       position: relative;
//       align-self: center;
//       padding: 10px;

//       @include breakpoint("lg") {
//          // margin-left: 1rem;
//       }

//       &--pipe {
//          &::after {
//             content: "";
//             position: absolute;
//             background-color: $c-white;
//             width: 30px;
//             height: 1.5px;
//             left: 0;
//             top: 27px;
//             transform: rotate(90deg);
//          }
//       }
//    }

//    &__data {
//       color: inherit !important;
//       margin: 0;
//       margin-left: 18px;
//       white-space: nowrap;
//    }

//    &__dataWrapperLocation {
//       position: relative;
//       padding: 10px;

//       @include breakpoint("md") {
//          margin-bottom: 3rem;
//       }

//       &--pipe {
//          &::after {
//             content: "";
//             position: absolute;
//             background-color: $c-white;
//             width: 30px;
//             height: 1.5px;
//             left: 0;
//             top: 20px;
//             transform: rotate(90deg);
//          }
//       }
//    }

//    &__clickedBtnWrapper {
//       height: 120px;
//       width: 100%;
//       position: relative;
//       margin: 0 auto;

//       @include breakpoint("md") {
//          height: 180px;
//          padding: 1.5rem;
//       }
//       @include breakpoint("lg") {
//          height: 250px;
//          padding: 2.5rem;
//       }

//       &__block {
//          display: flex;
//          margin: 1.5rem;
//          justify-content: space-around;

//          @include breakpoint("lg") {
//             margin: 2.5rem;
//          }
//       }
//    }

//    &__btnWrapper {
//       display: flex;
//       justify-content: space-around;

//       @include breakpoint("lg") {
//          margin: 0 3rem;
//       }

//       img {
//          display: inline !important;
//          width: 23px;
//       }
//    }

//    &--column {
//       flex-wrap: wrap;
//    }
// }

// .btn-cancel {
//    color: $c4-second;
//    width: 80%;

//    &:hover {
//       background-color: $c1-second;

//       .btn-meeting__arrow::after,
//       .btn-meeting__arrow::before {
//          background-color: $c-white;
//       }
//    }

//    &--animation {
//       color: $c4-second;
//       width: 80%;
//       transition: all 1s ease-in-out;

//       &:focus {
//          background-color: $c1-second;
//          width: 50px !important;
//          height: 50px !important;
//       }

//       &:focus .jointMeeting__btnDesc {
//          display: none;
//       }

//       &:focus .jointMeeting__btnWrapper {
//          margin: 0;
//       }
//    }
// }

// .btn-jointMeeting {
//    white-space: nowrap;
//    transition: all 0.2s;

//    &:hover {
//       color: $c-white;
//       background-color: $c1-second;
//    }

//    &:focus {
//       color: $c-white;
//       background-color: $c1-second;
//    }
// }
