.jointMeeting--closed {
   position: relative;
   border-radius: 45px;
   background-image: linear-gradient(#50b375, #2e6c48);
   color: $c-white;
   max-width: 792px;
   max-height: 363px;
   // animation: fadeOut 1.5s;
   // animation-delay: 1.5s;
   // animation-fill-mode: forwards;

   @include breakpoint("lg") {
      border-radius: 65px;
   }
}

.jointMeeting {
   position: relative;
   border-radius: 45px;
   background-image: linear-gradient(#50b375, #2e6c48);
   color: $c-white;
   max-width: 792px;
   max-height: 363px;

   @include breakpoint("lg") {
      border-radius: 65px;
   }

   &__beforeClickedWrapper {
      height: 100%;
   }

   &__imgWrapper {
      width: 60%;
   }

   &__img {
      border-radius: 45px;
      width: 100%;
      height: 100%;

      @include breakpoint("md") {
         height: unset;
         width: unset;
      }
      @include breakpoint("xl") {
         border-radius: 65px;
      }
   }

   &__contentWrapper {
      position: relative;
      width: 60%;
      padding: 0.5rem;

      @media only screen and (min-width: 380px) {
         padding-top: 1rem;
      }
   }

   &__contentTopWrapper {
      @media only screen and (min-width: 350px) {
         min-height: 95px;
         padding: 0.2rem;
      }

      @media only screen and (min-width: 495px) {
         min-height: 150px;
      }

      @include breakpoint("sm") {
         min-height: 170px;
         padding: 0.6rem;
      }

      @include breakpoint("md") {
         min-height: 260px;
      }
   }

   &__topWrapper,
   &__dataWrapperLocation {
      @media only screen and (min-width: 380px) {
         padding: 10px;
         position: relative;
         &::after {
            content: "";
            position: absolute;
            background-color: $c-white;
            width: 30px;
            height: 1.5px;
            left: -10px;
            top: 50%;
            transform: rotate(90deg);
         }
      }
   }

   &__daysLeft {
      display: none;
      color: inherit;

      @media only screen and (min-width: 495px) {
         display: inline-block;
         margin: 0;
         margin-bottom: 1rem;
      }

      @include breakpoint("md") {
         margin-bottom: 2rem;
      }
   }

   &__topWrapper {
      margin-bottom: 7px;
      @include breakpoint("sm") {
         margin-bottom: 15px;
      }
      @include breakpoint("md") {
         margin-bottom: 25px;
      }
   }

   &__dataWrapperLocation {
      margin-bottom: 7px;
      @include breakpoint("sm") {
         margin-bottom: 15px;
      }
   }

   &__data {
      color: inherit;
      padding: 0;
      margin: 0;
      white-space: nowrap;

      @media only screen and (min-width: 380px) {
         margin-left: 18px;
      }
   }

   &__btnWrapper {
      text-align: center;
   }

   &__btnSpan {
      color: $c4-second;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__btnDesc {
      margin-right: 5px;
   }

   &__cancelSvg {
      width: 15px;
   }

   //// afterClick
   &__afterClickedWrapper {
      padding: 0.5rem;
      padding-bottom: 2rem;
   }

   &__afterTitle {
      text-align: center;
      color: inherit;
   }

   &__afterContentWrapper {
      margin-bottom: 0.8rem;

      @include breakpoint("sm") {
         padding: 1rem;
      }
   }

   &__clickedBtnWrapper {
      &__block {
         @include breakpoint("sm") {
            display: flex;
            justify-content: space-around;
         }
      }
   }
}

.btn-jointMeeting {
   color: $c-lightGrey;
   white-space: nowrap;
   margin-bottom: 0.5rem;
   width: 100%;
   transition: background-color 0.2s ease-in-out;

   @include breakpoint("sm") {
      width: 50%;
      margin: 0.5rem;
   }

   &:hover {
      background-color: $c1-second;
      color: $c-white;
   }

   &:focus {
      background-color: $c1-second;
      color: $c-white;
   }
}

.btn-cancel {
   width: 90%;
   transition: background-color 0.2s ease-in-out;

   &:hover {
      background-color: $c1-second;
      .btn-meeting__arrow::after,
      .btn-meeting__arrow::before {
         background-color: $c-white;
      }
   }

   &--animation {
      transition: background-color 0.2s ease-in-out;
      transition: width 1.7s;
      background-color: $c-white;

      &:focus {
         background-color: $c1-second;
         width: 50px;
      }

      &:focus .jointMeeting__btnDesc {
         display: none;
      }

      &:focus .jointMeeting__btnWrapper {
         margin: 0;
      }

      &:focus .btn-jointMeeting__cancelSvg {
         animation: slideWrapper 1.5s;
         animation-fill-mode: forwards;
      }
   }
}
