.modal {
    position: fixed;
    z-index: 500;
    background-color: $c2-main;
    width: 70%;
    border: 1px solid $c-lightGrey;
    border-radius: 15px;
    padding: 16px;
    left: 15%;
    top: 5%;
    height: auto;
    max-height: 70%;
    overflow-y: scroll;
    transition: all 0.3s ease-out;
}

// @media (min-width: 600px) {
//     .modal {
//         width: 500px;
//         left: calc(50% - 250px);
//     }
// }