.navbar {
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $c-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    box-shadow: 0 4px 6px -3px $box-shadow;

    &__Items {
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        margin-right: 10px;
        margin-top: 0px;
        padding: 0;
    }

    &__logo1 {
        height: 100%;
        display: block !important;
    }

    &__logo2 {
        height: 100%;
        display: none !important;
    }

    @media only screen and (max-width: 650px) {
        &__logo1 {
            height: 100%;
            display: none !important;
        }

        &__logo2 {
            height: 100%;
            display: block !important;
        }
    }
    nav{
        height: 100%;
    }
}

.navLinks {
    &__hash{
        color: $c-black;
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 34px 10px;
        box-sizing: border-box;
        border-bottom: 3px solid transparent;
        display: block;
        padding-left: 7px;
        display: block;

        &:hover {
            text-decoration: none;
            color: $c-black;
        }

        @media only screen and (max-width: 943px){
            display: none;
        }
    }

    &__button{
        color: $c2-main;
        margin-left: 10px;
        // padding: 9px 9px !important;
    }

    &__text{
        cursor: default;
    }
}

.active {
    color: $c1-second !important;
    border-bottom: 3px solid $c1-second !important;
}
