.pendingContainer {
   &__headlineWrapper {
      @include breakpoint("sm") {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }

   &__filterWrapper {
      text-align: center;
      margin-bottom: 1rem;
      
      @include breakpoint("sm") {
         text-align: right;
         margin-bottom: 0;
      }
   }

   &__filterTeam,
   &__filterGroup {
      transition: opacity 0.2s;
      color: $c-white;
      padding: 5px 10px;
      border: none;

      &:hover {
         opacity: 0.8;
      }
   }
   &__filterTeam {
      border-radius: 7px 0 0 7px;
   }

   &__filterGroup {
      border-radius: 0 7px 7px 0;
   }
}
