.social-media {

    &__heading {
        text-align: center;
    }

    &__icons {
        display: flex;
        justify-content: center;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        padding: 0.75rem;
        border-radius: 50%;
        background: $horizontal-gradient;
        
        &:hover {
            background: linear-gradient(to top, #4dac71, #2e6c48);
        }
    }

    &__icon {
        fill: $c-white;
    }
}