.slick-list {
   max-width: 480px;

   @include breakpoint("sm") {
      max-width: none !important;
   }
}

.regular {
   width: 100%;
}

.teamSlider {
   &__heading {
      margin-bottom: 2rem;
   }

   &__cover {
      position: relative !important;
      overflow: hidden;
      margin: 0 20px;
      width: 200px !important;
      height: 200px !important;
      border-radius: 45px !important;
      margin-bottom: 9rem;

      @include breakpoint("sm") {
         width: 250px !important;
         height: 250px !important;
      }

      @include breakpoint("md") {
         width: 300px !important;
         height: 300px !important;
         border-radius: 50px !important;
      }

      @include breakpoint("xl") {
         width: 350px !important;
         height: 350px !important;
      }

      @include breakpoint("xl") {
         margin-bottom: 12rem;
         border-radius: 65px !important;
      }

      &__image {
         width: 415px !important;
         height: 415px !important;
         object-fit: cover !important;

         @include breakpoint("xl") {
            width: 470px !important;
            height: 470px !important;
         }

         &-pia {
            object-position: -96px -112px !important;

            @include breakpoint("sm") {
               object-position: -73px -112px !important;
            }

            @include breakpoint("md") {
               object-position: -50px -112px !important;
            }
         }

         &-gion {
            object-position: -85px -52px !important;

            width: 370px !important;
            height: 370px !important;

            @include breakpoint("sm") {
               object-position: -53px -52px !important;
            }

            @include breakpoint("md") {
               object-position: -29px -52px !important;
            }

            @include breakpoint("xl") {
               width: 425px !important;
               height: 425px !important;
            }
         }

         &-manuel {
            object-position: -98px -92px !important;

            @include breakpoint("sm") {
               object-position: -78px -92px !important;
            }

            @include breakpoint("md") {
               object-position: -54px -92px !important;
            }
         }

         &-simon {
            object-position: -105px -102px !important;

            @include breakpoint("sm") {
               object-position: -81px -102px !important;
            }

            @include breakpoint("md") {
               object-position: -57px -102px !important;
            }
         }

         &-patrickN {
            object-position: -103px -108px !important;

            @include breakpoint("sm") {
               object-position: -80px -108px !important;
            }

            @include breakpoint("md") {
               object-position: -55px -108px !important;
            }
         }

         &-patrickK {
            object-position: -115px -69px !important;

            @include breakpoint("sm") {
               object-position: -85px -69px !important;
            }

            @include breakpoint("md") {
               object-position: -59px -69px !important;
            }
         }
      }

      &:after {
         content: "";
         position: absolute;
         right: 0;
         padding: 20px 0;
         left: 0;
         bottom: 9px;
         opacity: 0.65;
         background-color: #010101;

         @include breakpoint("sm") {
            padding: 29px 0;
            left: 0;
            bottom: 9px;
         }

         @include breakpoint("md") {
            padding: 34px 0;
         }

         @include breakpoint("lg") {
            padding: 37px 0;
         }

         @include breakpoint("lg") {
            padding: 43px 0;
         }
      }
   }

   &__desc {
      position: absolute !important;
      bottom: 18px;
      right: 0;
      left: 0;
      z-index: 1;

      @include breakpoint("md") {
         right: 20px;
      }

      @include breakpoint("xl") {
         left: unset;
      }

      &-title,
      &-desc {
         margin: 0 auto;
         text-align: center;
         color: $c-white;

         @include breakpoint("xl") {
            text-align: right;
         }
      }
      &-desc {
         display: none;

         @include breakpoint("sm") {
            display: block;
         }
      }
   }

   &__arrow-right {
      transition: $transition;
      display: flex !important;
      top: 80% !important;
      left: 120px;
      justify-content: center;
      align-items: center;
      width: 90px !important;
      height: 90px !important;
      border-radius: 50%;
      background: $c3-second !important;
      z-index: 1;

      @include breakpoint("lg") {
         left: auto;
         right: 0;
      }

      @include breakpoint("md") {
         &:hover {
            background: $c1-second !important;
         }
         &:hover .teamSlider__arrow-right-stroke {
            background-color: $c-white;
         }
      }

      &::before {
         display: none;
      }
   }

   &__arrow-right-stroke {
      transition: $transition;
      position: relative;
      width: 55px;
      height: 6px;
      border-radius: 3px;
      background-color: $c4-main;

      &::before {
         content: "";
         position: absolute;
         right: -3px;
         bottom: 7px;
         display: block;
         width: 24px;
         height: 6px;
         border-radius: 3px;
         background-color: inherit;
         transform: rotate(45deg);
      }

      &::after {
         content: "";
         position: absolute;
         right: -3px;
         top: 7px;
         display: block;
         width: 24px;
         height: 6px;
         border-radius: 3px;
         background-color: inherit;
         transform: rotate(-45deg);
      }
   }

   &__arrow-left {
      transition: $transition;
      display: flex !important;
      top: 80% !important;
      left: 0 !important;
      justify-content: center;
      align-items: center;
      width: 90px !important;
      height: 90px !important;
      border-radius: 50%;
      background: $c3-second !important;
      z-index: 1;

      @include breakpoint("md") {
         &:hover {
            background: $c1-second !important;
         }
         &:hover .teamSlider__arrow-left-stroke {
            background-color: $c-white;
         }
      }

      &::before {
         display: none;
      }
   }

   &__arrow-left-stroke {
      transition: $transition;
      position: relative;
      width: 55px;
      height: 6px;
      border-radius: 3px;
      background-color: $c4-main;

      &::before {
         content: "";
         position: absolute;
         left: -3px;
         bottom: 7px;
         display: block;
         width: 24px;
         height: 6px;
         border-radius: 4px;
         background-color: inherit;
         transform: rotate(-45deg);
      }

      &::after {
         content: "";
         position: absolute;
         left: -3px;
         top: 7px;
         display: block;
         width: 24px;
         height: 6px;
         border-radius: 3px;
         background-color: inherit;
         transform: rotate(45deg);
      }
   }
}
