$c1-main: #000000;
$c2-main: #ffffff;
$c3-main: #424242;
$c4-main: #707070;

$c1-second: #50b375;
$c2-second: #2e6c48;
$c3-second: #effcef;
$c4-second: #ff5454;

$c-white: #fefefe;
$c-black: #010101;
$c-grey: #999999;
$c-darkGrey: #2f2f2f;
$c-lightGrey: #959595;
$c-lightGreyInput: #ededed;

$c-success: #5cb85c;
$c-warn: #f0ad4e;
$c-error: #d9534f;

$horizontal-gradient: linear-gradient(360deg, #2e6c48 35%, #50b375 100%);
$vertical-gradient: linear-gradient(270deg, #2e6c48 0%, #50b375 100%);
$transition: 0.3s;
$box-shadow: #01010159;

$border-radius: 45px;


/* --------------------------------------------------

Fonts

-------------------------------------------------- */

$font-main-1: "Maven Pro Regular";
$font-main-2: "Maven Pro Bold";
$font-main-3: "Maven Pro Black";

/* --------------------------------------------------

Breakpoint Settings

-------------------------------------------------- */

$media-direction: min; // min / max — default is min (mobile first)

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1920px,
);
